*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rain {
    /* width: 600px;
    height: 400px; */
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px white;
    background: greenyellow;
    /* animation-name: shams;
    animation-direction: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    animation: shams 3s infinite linear;
}

@keyframes shams {
    0% {
        background: lawngreen; 
        font-size: 18px;
        width: 600px;
        height: 400px;
    }
    50% {
        background: pink; 
        font-size: 36px;
        width: 300px;
        height: 200px;
    }
    100% {
        background: lawngreen; 
        font-size: 18px;
        width: 600px;
        height: 400px;
    }
}

.drain {
    width: 100%;
    height: 100px;
    margin: 20px 0;
    background: url(../css/images/nature.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-shadow: 2px 2px 2px yellow;
}

.parent {
    width: 100%;
    height: 100vh;
    display: flex;
}

.box {
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: powderblue;
    position: relative;
    animation: box 5s infinite linear;
}

@keyframes box {
    0%{transform: rotate(0deg); background-color: lightskyblue;}
    50%{transform: rotate(180deg); background-color: palegreen;}
    100%{transform: rotate(360deg); background-color: palevioletred;}
}

.dhaka, .rajshahi, .khulna, .rangpur{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: pink;
}

.dhaka {
    animation: dhaka 5s infinite linear;
}

@keyframes dhaka {
    0%{
        top: -100px;
        left: -100px;
    }

    25%{
        top: -100px;
        left: 300px;
    }

    50%{
        top: 300px;
        left: 300px;
    }

    75%{
        top: 300px;
        left: -100px;
    }

    100%{
        top: -100px;
        left: -100px;
    }
}

.rajshahi {
    top: -100px;
    right: -100px;
    animation: rajshahi 5s infinite linear;
}

@keyframes rajshahi {
    0%{
        top: -100px;
        right: -100px;
    }

    25%{
        top: 300px;
        right: -100px;
    }

    50%{
        top: 300px;
        right: 300px;
    }

    75%{
        top: -100px;
        right: 300px;
    }

    100%{
        top: -100px;
        right: -100px;
    }
}

.khulna {
    bottom: -100px;
    right: -100px;
    animation: khulna 5s infinite linear;
}

@keyframes khulna {
    0%{
        bottom: -100px;
        right: -100px;
    }

    25%{
        bottom: -100px;
        right: 300px;
    }

    50%{
        bottom: 300px;
        right: 300px;
    }

    75%{
        bottom: 300px;
        right: -100px;
    }

    100%{
        bottom: -100px;
        right: -100px;
    }
}

.rangpur {
    bottom: -100px;
    left: -100px;
    animation: rangpur 5s infinite linear;
}

@keyframes rangpur {
    0%{
        bottom: -100px;
        left: -100px;
    }

    25%{
        bottom: 300px;
        left: -100px;
    }

    50%{
        bottom: 300px;
        left: 300px;
    }

    75%{
        bottom: -100px;
        left: 300px;
    }

    100%{
        bottom: -100px;
        left: -100px;
    }
}